*{
    margin: 0px;
}

a{
    text-decoration: none;
}

.banner-sup{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9D3434;
    height: 66px;
    color: #f3f3f3;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* navbar desktop */

.navbar{
    background-color: #1b1b1d;
    display: flex;
    justify-content: space-between;
    height: 76px;
}

.navbar-izq{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 30px;
}

.navbar-der{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-right: 30px;
}

.nav-link{
    color: #f3f3f3;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

/* categories */

.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:30px;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.categories-up{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.categories-down{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.categories-div{
    display: block;
    position: relative;
    width: 660px;
    height: 276px;
    text-align: center;
    overflow: hidden;
}

.categories-div::before {
    content: '';
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    height: 65%;
    background: linear-gradient(2deg, #406780 1.54%, rgba(64, 103, 128, 0.00) 98.46%);
    z-index: 1;
}

.categories-text{
    position: absolute;
    bottom: 20px;
    left: 20%;
    transform: translateX(-50%);
    color: #f3f3f3;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 40px;
    z-index: 1;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.categories-img {
    width: 100%;
    height: auto;
    display: block;
}

/* CTA's */

.ctas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 40px;
}

.cta1-title, .cta2-title, .cta3-title{
    color: #1b1b1d;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
}

.cta1-text, .cta3-text{
    color: #1b1b1d;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.cta1-btn, .cta3-btn{
    color: #f3f3f3;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    margin-top: 8px;
    background-color: #9D3434;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
}

.cta2{
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(50% 50% at 50% 50%, #2C2C2C 0%, #1B1B1D 100%);
    width: 90%;
    height: 412px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.cta2-izq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta2-title{
    color: #f3f3f3;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 32px;
}

.cta2-text{
    text-align: center;
    color: #f3f3f3;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.cta2-img{
    display: flex;
    position: absolute;
    left: 61%;
}

.cta2-btn{
    color: #1b1b1d;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    margin-top: 8px;
    background-color: #f3f3f3;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 70px;
    padding-right: 70px;
}

.cta3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
}

/* botones estilo */
.btn{
    width: 250px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #9D3434;
}

.btn{
    transition: 200ms;
}

.btn{
    color: white;
    font-weight: bold;
}

.btn:hover {
    background: #ff3636;
}

.btn:focus {
    outline: none;
}

.btn2{
    width: 320px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #f3f3f3;
    transition: 200ms;
}

.btn2:hover {
    background: #9D3434;
    color: #f3f3f3;
}

.btn2:focus {
    outline: none;
}

/* colecciones */

.h2-collection{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b1b1d;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.h3-collection{
    color: #1b1b1d;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 25px;
    margin-left: 6%;
}

.lifestyle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 440px;
    background: #1B1B1D;
    gap: 25px;
    margin-bottom: 50px;
}

.colaborations{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 440px;
    background: #1B1B1D;
    column-gap: 25px;
    margin-bottom: 50px;
}

.lifestyle-text {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #f3f3f3;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    z-index: 1;
}

.a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    overflow: hidden;
}

.lifestyle-img {
    display: block;
    width: 100%;
    height: auto;
}

.b {
    width: 318px;
    height: auto;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

/* cta end */

.cta-end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(50% 50% at 50% 50%, #2C2C2C 0%, #1B1B1D 100%);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;

}

.cta-end-izq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5%;
}

.cta-end-der{
    display: flex;
}

.cta-end-title{
    color: #f3f3f3;
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cta-end-text{
    color: #f3f3f3;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 8px;
    margin-bottom: 8px;
}

.cta-end-btn{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    width: 310px;
    height: 46px;
    border-radius: 5px;
    margin-top: 8px;
    background: #F3F3F3;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: radial-gradient(50% 50% at 50% 50%, #2C2C2C 0%, #1B1B1D 100%);
    padding: 5%;
    color: #f3f3f3;
}

.logo-footer{
    margin-bottom: 15%;
}

.footer-title{
    color: #f3f3f3;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-izq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-izq1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 30px;
    gap: 20px;
}

.footer-izq1-1{
    display: flex;
    flex-direction: row;
}

.footer-izq1-2{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-right: 50px;
}

.footer-izq2{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-right: 50px;
    padding-bottom: 45px;
}

.footer-izq2-1{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-right: 50px;
}

.footer2{
    display: flex;
}

.footer-link{
    color: #F3F3F3;
    text-decoration: none;
}

.rrss{
    display: flex;
    margin-top: 15px;
    gap: 10px;
}

.icons-rrss{
    text-decoration: none;
}

.footer-line{
    width: 520px;
    height: 1px;
    background-color: #F3F3F3;
}

.footer-line2{
    width: 250px;
    height: 2px;
    background-color: #F3F3F3;
}

.footer-line3 {
    display: block;
    width: 2px;
    height: 500px;
    background-color: #F3F3F3;
}

.footer-der{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
}

.footer-der1{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 10px;
    margin-left: 100px;
}

.footer-title2{
    color: #f3f3f3;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}

/* media queries 768px */
@media (max-width: 768px) {
    .banner-sup {
        height: 30px;
        font-size: 10px;
    }

    .logo{
        width: 60%;
        height: 60%;
    }

    .navbar-der{
        gap: 0px;
        padding-right: 0px;
    }

    .icon{
        width: 60%;
        height: 60%;
        gap: 0px;
    }

    /* Navbar */
    .navbar {
        height: 55px;
    }

    .navbar-izq, .navbar-der {
        padding-left: 15px;
        padding-right: 15px;
        gap: 15px;
    }

    .nav-link {
        font-size: 10px;
    }

    /* Categories */
    .categories {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .categories-div {
        width: 80%;
        max-width: 330px;
        height: 138px;
        margin: 0 auto;
    }

    .categories-text {
        font-size: 24px;
    }

    /* CTA's */

    .cta1-der{
        margin-top: 50px;
        margin-bottom: 50px;
        width: 35%;
    }

    .cta1, .cta2, .cta3{
        align-items: center;
        gap: 15px;
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .cta1-title, .cta2-title, .cta3-title {
        text-align: center;
        font-size: 20px;
    }

    .cta1-text, .cta3-text {
        font-size: 16px;
        text-align: center;
    }

    .cta1-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        padding: 10px 10px;
        margin-left: 18%;
    }

    .cta3-btn{
        padding: 10px 10px;
        font-size: 14px;
        margin-left: 8%;
    }

    .cta2 {
        height: 200px;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .cta1-img{
        width: 100%;
    }

    .cta2-img {
        display: none;
    }

    .cta2-text {
        text-align: center;
        font-size: 16px;
    }

    .cta2-btn {
        font-size: 14px;
        padding: 6px 30px;
    }

    .cta3-img {
        width: 100%;
    }

    .cta3-der{
        width: 45%;
    }

    /* Colecciones */
    .h2-collection {
        font-size: 24px;
    }

    .h3-collection {
        font-size: 18px;
    }

    .lifestyle, .colaborations {
        width: 100%;
        height: 220px;
        gap: 10px;
        padding: 0 10px;
    }

    .lifestyle-text {
        font-size: 18px;
        text-align: center; /* Centramos el texto */
    }

    .lifestyle-img {
        width: 90%;
    }

    /* Botones */
    .btn {
        width: 180px;
        height: 35px;
    }

    .btn2 {
        width: 240px;
        height: 35px;
    }

    /* CTA-End */

    .cta-end {
        flex-direction: column;
        padding: 15px;
        gap: 15px;
    }

    .cta-end-title {
        font-size: 24px;
        text-align: center; /* Centramos el texto */
    }

    .cta-end-text {
        font-size: 16px;
        text-align: center;
    }

    .cta-end-btn {
        width: 250px;
        height: 38px;
    }

    /* Footer */
    .footer {
        flex-direction: column; /* Cambiar a formato columna */
        align-items: center;
        padding: 5% 3%;
        gap: 20px;
    }

    .footer-title, .footer-title2 {
        font-size: 16px;
        text-align: center;
    }

    .footer-der {
        flex-direction: column;
        gap: 10px;
    }
}
